
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    box-shadow: 15px 10px 10px 10px #888888;
  }
}
.lii{
  list-style-type: none;
  font-size: large;
  font-weight: bold;
  background-color: #ecb5ec;
  margin-right: 1rem;
  border-radius: 1rem;
}
.todocontainer{
  text-align: center;
  box-shadow: 5px 10px 10px 10px #888888;
  margin-left: 30rem;
  border-radius: 30px;
  width: 25rem;
}
.add{
  border-radius: 2px solid #6aabe0;
  background-color: rgb(223, 179, 235);
  border-radius: 10px;
  font-size: 25px;
  margin: 5px;
  border: none;
  width: 4rem;
  height: 3rem;
  box-shadow: 5px 10px 10px 10px #888888;
}
.inputstyle{
padding: 1rem;
padding:'10px';
border-radius:10px;
border-color:pink;
margin: 10px;
box-shadow: 5px 10px #888888;
}
.edit{
  padding:10px;
  margin: 10px;
  border-radius: 10px solid rgb(144, 144, 223);
  border-radius: 10px;
}
.delete{
  padding: 10px;
  border-radius: 10px solid rgb(144, 144, 223);
  border-radius: 10px;
}
::placeholder{
  text-decoration: none;
  font-size: larger;
  font-style: italic;
}
.save{
  padding:10px;
  margin: 10px;
  border-radius: 10px solid rgb(144, 144, 223);
  border-radius: 10px;
}
.list{
  color: #0c67b1;
  list-style-type: none;
  margin: 10px;
  font-weight: bold;
  font-size: larger;
  width: 5rem;
  margin-left: 7rem;
}